<div id="resource-comments" class="box">
  <h2>Reddit</h2>
  {{#each comments}}
  <div class="comment">
    <span class="score">Score: {{score}}</span>
    <div class="details">
      <p class="title">{{title}} ({{domain}})</p>
      <p>Submitted {{ago}} by {{author}} to <a href="http://www.reddit.com/r/{{subreddit}}">{{subreddit}}</a>
      <a href="http://www.reddit.com/{{permalink}}">{{num_comments}} comments</a>
      </p>
    </div>
  </div>
  {{/each}}
</div>