<div id="resource-details" class="box">
  <dl>
    <dt>Source URL:
    </dt>
    <dd><a href="{{src}}">{{src}}</a>
    </dd>
    <dt>Start time:
    </dt>
    <dd>{{startTime}}
    </dd>
    <dt>End Time:
    </dt>
    <dd>{{endTime}}
    </dd>
  </dl>
</div>
<div id="resource" class="box">
</div>