body {
/* http://css-tricks.com/examples/CSS3Gradient/ */
/* fallback */
   background-color: #333;
/* Safari 5.1+, Chrome 10+ */
   background: -webkit-radial-gradient(circle, #AAA, #333);
/* Firefox 3.6+ */
   background: -moz-radial-gradient(circle, #AAA, #333);
   font-family: sans-serif;
 }

/* Vertical center: http://www.456bereastreet.com/lab/flexbox/full-page/ */
html,
body {
   width:100%; /* Needed to avoid a redrawing bug in Firefox when resizing windows */
   height:100%;
}

body {
display:-webkit-box;
-webkit-box-pack:center;
-webkit-box-align:center;
display:-moz-box;
-moz-box-pack:center;
-moz-box-align:center;
display:box;
box-pack:center;
box-align:center;
}

/* custom */
body { word-wrap: break-word; }

h1, h2, h3, h4 {
   padding: 0.5em 0;
   font-weight: bold;
}
h1 {
   font-size: 200%;
}

h2, dt {
   font-size: 150%;
}

dt {
}

dd {
   padding-left: 5em;
}

.box {
   background-color: #AAA;
   color: #333;
   border: 3px solid #333;
   border-radius: 1em;
   padding: 1em;
   margin: 1em;
}

#resource {
   text-align: center;
}

.comment {
   margin: 2em;
}

p { margin: 1em 0; }

p.title { font-weight: bold; }

.score {
   float: left;
   clear: both;
}

.details {
   padding-left: 80px;
}

a, a:-webkit-any-link { color: #555; }

li { margin: 0.5em 0; }
